*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bai Jamjuree";
}

.container {
    width: 100%;
    height: 100vh;
    background: url(images/bg-header-desktop.png) no-repeat;
    background-position: cover;
    background-size: cover;
    
}

::-webkit-scrollbar{
    display: none;
}

.container .his-track {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5em 30em 0;
}

.his-track img {
    width: 90px;
    height: 80px;
    margin-bottom: 1.5em;
}

.his-track .track {
    color: hsl(210, 10%, 33%);
    font-size: 2em;
    font-weight: 700;
    margin-bottom: .5em;
}

.his-track .clipboard {
    color: hsl(201, 11%, 66%);
    text-align: center;
    font-size: 1.1em;
}

nav {
    margin: 2em 0 4em;
    display: flex;
    gap: 13px;

}

nav a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    padding: .7em 1.5em;
    border-radius: 1.3em;
    font-size: .9em;
    cursor: pointer;
}

nav .ios {
    background: hsl(171, 66%, 44%);
}

nav .ios:hover {
    background: hsl(171, 48%, 69%);

}

nav .mac {
    background: hsl(233, 100%, 69%);
}

nav .mac:hover {
    background: hsl(231, 47%, 74%);

}

.container .comp {
    display: flex;
    justify-content: space-between;
    padding: 4em 10em 0 0;
}

.comp .img {
    width: 600px;
    height: 500px;
}

.img img {
    width: 100%;
    height: 100%;
}

.comp .sea {
    max-width: 700px;
    margin: 6em 0;
}

.sea .s {
    display: flex;
    flex-direction: column;
    padding: 0 11em;
    margin-bottom: 1.9em;
}

.s h3 {
    color: hsl(210, 10%, 33%);
    font-size: 1.5em;
    font-weight: 600;

}

.s p {
    color: hsl(201, 11%, 66%);   
    font-size: 1em;
    font-weight: 500;
    margin-top: .5em;
}

.container .bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4em;
    padding: 0 28em;
}

.bottom h3 {
    color: hsl(210, 10%, 33%);
    font-size: 1.6em;   
    font-weight: 600;
    margin-bottom: .6em;
}

.bottom img {
    width: 600px;
    height: 400px;
    margin: 3em 0;
}

.bottom p {
    color: hsl(201, 11%, 66%);
    font-size: 1.2em;
    font-weight: 300;
}

.container .ico {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    gap: 25px;
    padding: 1.4em 8em;
}

.ico .ico-middle {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    margin: 1.4em 0;
}

.ico-middle .img {
    width: 100px;
    height: 50px;

}

.ico-middle .img img {
    width: 100%;    
    height: 100%;
    object-fit: contain; 
}

.ico-middle .words {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1.5em 0;
}

.words h3 {
    color: hsl(210, 10%, 33%);
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: .8em;   
}

.words p {
    color: hsl(201, 11%, 66%); 
    font-size: 1.2em;  
    line-height: 1.4em;
}

.icon-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: flex-start;
}

.icon-img img {
    margin: 0 1.6em;
    width: 220px;
    height: 43px;
}

.ios-mac {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6em 30em 5em;
    text-align: center;
}

.ios-mac h2 {
    text-align: center;
    color: hsl(210, 10%, 33%);
    font-size: 1.9em;
    margin-bottom: .6em;   
}

.ios-mac p {
    color: hsl(201, 11%, 66%);
    text-align: center;
}

.container .footer {
    background: hsl(210, 11%, 89%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 8em 1em;
}

.footer img {
    width: 50px;
    height: 50px;
   
}

.footer .foot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: .9em;
}

.foot a {
    text-decoration: none;
    color: hsl(201, 11%, 66%);
    font-size: 1em;
    margin-bottom: .7em;
    cursor: pointer;
}

.footer .c {
    margin-top: -1em;
}

.icon a {
    text-decoration: none;
    margin-left: .7em;
    color: hsl(201, 11%, 66%);
    font-size: 1.2em;
    cursor: pointer;
}


.footer a:hover {
    color: hsl(171, 66%, 44%);
}